<!-- Describe task in general -->
<p style="text-align: justify;">
    范志毅从中国带来了魔法胶囊，每个胶囊都有一个特定的生产周期，在周期的最后一天会产生一枚金币。通过同时激活所有胶囊，他想知道需要多少天才能积累至少精确数量的金币。给你所需的金币数量<code>goal</code> 和胶囊周期序列<code>cycles</code> 。
</p>

<p style="text-align: justify;">
    下面是<code>12, (3, 7, 2)</code> 参数的示例。
</p>
<img  title="example" src="{{MEDIA}}capsules.png" alt="example" style="max-height: 200px"/>


<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>整数 (<code>{% if is_js %}number{% else %}int{% endif %}</code>) 和{% if is_js %}数组{% else %}列表{% endif %} (<code>{% if is_js %}array{% else %}list{% endif %}</code>) 的整数。
</p>

<p>
   <strong>输出：</strong>整数。
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>示例</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
