<!-- Describe task in general -->
<p style="text-align: justify;">
    Фан Чііх привіз з Китаю магічні капсули, кожна з яких має певний виробничий цикл, що виробляє золоту монету в останній день циклу. Активувавши всі капсули одночасно, він хоче дізнатися, скільки днів знадобиться, щоб накопичити принаймні точну кількість золотих монет. Вам задано необхідну кількість золота <code>goal</code> та послідовність циклів роботи капсул <code>cycles</code>.
</p>

<p style="text-align: justify;">
    Ось приклад для аргументів <code>12, (3, 7, 2)</code>.
</p>
<img  title="example" src="{{MEDIA}}capsules.png" alt="example" style="max-height: 200px"/>


<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число (<code>{% if is_js %}number{% else %}int{% endif %}</code>) та {% if is_js %}масив{% else %}список{% endif %} (<code>{% if is_js %}array{% else %}list{% endif %}</code>) цілих чисел.
</p>

<p>
   <strong>Вивести:</strong> Ціле число.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
