<!-- Describe task in general -->
<p style="text-align: justify;">
    Fan Chi'ih has brought magic capsules from China, each with a specific production cycle that produces a gold coin on the last day of the cycle. By activating all the capsules simultaneously, he wants to know how many days it takes to accumulate at least exact number of gold coins. You are given a needed number of gold <code>goal</code> and a sequence of capsules' cycles <code>cycles</code>.
</p>

<p style="text-align: justify;">
    Here is an example for <code>12, (3, 7, 2)</code> arguments.
</p>
<img  title="example" src="{{MEDIA}}capsules.png" alt="example" style="max-height: 200px"/>


<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Integer (<code>{% if is_js %}number{% else %}int{% endif %}</code>) and {% if is_js %}array{% else %}list{% endif %} (<code>{% if is_js %}array{% else %}list{% endif %}</code>) of integers.
</p>

<p>
    <strong>Output:</strong> Integer.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
