<!-- Describe task in general -->
<p style="text-align: justify;">
    Fan Chi'ih hat magische Kapseln aus China mitgebracht, von denen jede einen bestimmten Produktionszyklus hat, der am letzten Tag des Zyklus eine Goldmünze produziert. Indem er alle Kapseln gleichzeitig aktiviert, möchte er wissen, wie viele Tage es dauert, bis er mindestens die genaue Anzahl an Goldmünzen gesammelt hat. Sie erhalten eine benötigte Anzahl von Gold <code>goal</code> und eine Abfolge der Zyklen der Kapseln <code>cycles</code>.
</p>

<p style="text-align: justify;">
    Hier ist ein Beispiel für <code>12, (3, 7, 2)</code> Argumente.
</p>
<img  title="example" src="{{MEDIA}}capsules.png" alt="example" style="max-height: 200px"/>


<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Ganzzahl (<code>{% if is_js %}number{% else %}int{% endif %}</code>) und {% if is_js %}Array{% else %}Liste{% endif %} (<code>{% if is_js %}array{% else %}list{% endif %}</code>) von Ganzzahlen.
</p>

<p>
   <strong>Ausgabe:</strong> Ganzzahl.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
