<!-- Describe task in general -->
<p style="text-align: justify;">
    Fan Chi'ih przywiózł z Chin magiczne kapsuły, z których każda ma określony cykl produkcyjny, wytwarzający złotą monetę w ostatnim dniu cyklu. Aktywując wszystkie kapsuły jednocześnie, chce dowiedzieć się, ile dni potrzeba, aby zgromadzić co najmniej dokładną liczbę złotych monet. Otrzymują Państwo potrzebną liczbę złotych monet <code>goal</code> oraz sekwencję cykli kapsuł <code>cycles</code>.
</p>

<p style="text-align: justify;">
    Oto przykład dla argumentów <code>12, (3, 7, 2)</code>.
</p>
<img  title="example" src="{{MEDIA}}capsules.png" alt="example" style="max-height: 200px"/>


<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Liczba całkowita (<code>{% if is_js %}number{% else %}int{% endif %}</code>) i tablica {% if is_js %}{% else %} lista{% endif %} (<code>{% if is_js %}array{% else %}list{% endif %}</code>) liczb całkowitych.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
